.container {
    background-image: url("img/Glados.jpg");
    background-size: 2120px 1224px;
    height: 1024px;
    /*position: fixed;*/
}

.products {
    display: flex;
    flex-wrap: wrap;
    width: 1200px;

    margin: 0 auto;
}

.product-item {
    width: 335px;
    height: 400px;
    background-color: #f6661e ;
    opacity: 0.85;
    text-align: center;
    margin: 30px;
    border: 2px solid black;
    border-radius: 20px;

    /*position: relative;*/
}

.images {
    height: 250px;
}

.picdescr {
    width: 250px;
    height: 190px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    margin-top: 10px;
    opacity: 1;
}


body > div > div > div:nth-child(3) > div > img {
    height: 120px;
    margin-top: 60px;
}

body > div > div > div:nth-child(3) > h3 {
    margin-top: -40px;
}

.btn-cart {
     width: 250px;
     height: 40px;
     display: block;
     margin: 0 auto;
     background-color: lightblue;
     border-radius: 15px;
     outline: none;
     border: 2px solid black;

 }

.btn-cart:hover {
    background-color: darkorange;

}

